//This all headroom.js's magic right here. It conditionally adds classes depending on scroll position

.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -200px;}
.headroom--pinned {top: 0;}
