/* colors */
$background-color: #e8e8e8;

$main-color: #270C32;
$main-light: tint($main-color, 25%);
$main-dark: shade($main-color, 25%);

$secondary-color: #E0745E;

$tertiary-color: shade($background-color, 25%);


/* typography */
$type-scale: 1.168;
$type-size: 1em;


