	<header class=" animated fadeIn headroom">
		<nav>
			<ul>
				<li> 
          <%= link_to '#' do %>
            <%= image_tag('questions.svg', alt: 'What is this?', class: 'top-button') %>
          <% end %>
				</li>
				<li> 
					<a href="#">Secret Sounds</a>
				</li>
				<li> 
					<a href="#">
						<img src="img/record.svg" alt="Click here to record"class="top-button">
					</a>
				</li>
			</ul>	
		</nav>
	</header>		

